In [1]:
list1=["a","b","c"]
tp=("d","e","f")

In [2]:
list1[1]

'b'

In [3]:
list1[0]

'a'

In [4]:
list1[1]="h"

In [5]:
list1

['a', 'h', 'c']

In [6]:
l2=["h","j","k"]

In [7]:
list1.append(l2)

In [8]:
list1

['a', 'h', 'c', ['h', 'j', 'k']]

In [10]:
range(5)

range(0, 5)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
for i in range(2,5):
    print(i)

2
3
4

In [14]:
len(list1),list1

(4, ['a', 'h', 'c', ['h', 'j', 'k']])

In [17]:
for i in range(len(list1)):
    print(i,list1[i])

0 a
1 h
2 c
3 ['h', 'j', 'k']

In [18]:
l1=[1,2,3]
l2=[4,5,6]

In [19]:
l1.extend(l2)

In [20]:
l1

[1, 2, 3, 4, 5, 6]

In [21]:
l1.append(7)

In [22]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [23]:
tp

('d', 'e', 'f')

In [24]:
list(tp)

['d', 'e', 'f']

In [25]:
tp[2]="g"

TypeError: 'tuple' object does not support item assignment

In [26]:
tp=list(tp)

In [27]:
tp[2]="g"

In [28]:
tp

['d', 'e', 'g']

In [29]:
tp=tuple(tp)

In [30]:
tp

('d', 'e', 'g')

In [31]:
set_1=[1,2,3,1,2,3,4,5,6]

In [32]:
set(set_1)

{1, 2, 3, 4, 5, 6}

In [33]:
set_2=[5,6,5,6,7,8,9]

In [34]:
set(set_2)

{5, 6, 7, 8, 9}

In [35]:
s1=set(set_1)

In [36]:
s2=set(set_2)

In [37]:
s1

{1, 2, 3, 4, 5, 6}

In [38]:
s2

{5, 6, 7, 8, 9}

In [39]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
s1.intersection(s2)

{5, 6}

In [41]:
s1.difference(s2)

{1, 2, 3, 4}

In [42]:
s2.difference(s1)

{7, 8, 9}

In [43]:
name="india"

In [44]:
name.title()

'India'

In [45]:
name.upper()

'INDIA'

In [46]:
name.lower()

'india'

In [49]:
#to write a condition which prints even and odd numbers from 1 to 25:
for i in range(1,26):
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd